# Configurações do MongoDB
MONGO_USER=admin
MONGO_PASSWORD=password
MONGO_DB=whatsapp_bot
MONGO_NAME=mongo-container
MONGO_PORT=27017
MONGO_COLLECTION=mensagens

# Configurações do FastAPI
FASTAPI_PORT=8000:8000
FASTAPI_NAME=fastapi-app
